<!-- <div *ngIf="spinner">
  <mat-spinner></mat-spinner>
</div>

<div *ngIf="!isLogged" style="padding-top: 150px; display: grid; place-items: center;">
  <img src="../../../../assets/store-icons/store.png" height="150">
  <br>
  <span style="font-weight:500; font-size: 20px;">Ingresa o registrate para poder comprar en Retrocompu</span>
</div>


<div class="content" *ngIf="!spinner && isLogged">

  <div *ngIf="cart_container == []">
    <img src="../../../../assets/store-icons/shopping-cart.png" alt="">
  </div>

  <div class="cart" *ngIf="cart_container !== []">
    <div class="container-fluid">
      <div class="row">
        <div class="col col-xl-7">
          <div *ngIf="addressDirectionContainer !== []">
            <div style="padding-top: 10px;">
              <span style="font-weight: 500; font-size: x-large;">Selecciona tu dirección de envío</span>
            </div>
            <div>
              <mat-radio-group class="radio-group">
                <mat-radio-button class="card radio-button" style="padding: 10px;" *ngFor="let address of addressDirectionContainer" [value]="address">
                  <div (click)="setAddress(address)">
                    <span style="text-align: start;">
                      <span style="font-size: 20px; font-weight: 500;"> C.P. {{address?.cp}}</span>
                      <br>
                      {{address?.street}} - {{address?.asentamiento}} - {{address?.city}} - {{address?.state}}
                      <br>
                      {{address?.name}} {{address?.last_name}} - {{address?.phone_number}}
                      <br>
                    </span>
                  </div>
                </mat-radio-button>
              </mat-radio-group>
              <button placeholder="Escribe aquí..." type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
                (click)="openAddAddressDirectionForm()">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-circle"
                  viewBox="0 0 16 16">
                  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                  <path
                    d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                </svg>
                <span>Agregar dirección</span>
              </button>
            </div>
          </div>

          <div>
            <div *ngIf="quotation_address">
              <div style="padding-top: 10px;">
                <span style="font-weight: 500; font-size: x-large;">Selecciona el envío que más se acomode a tus necesidades</span>
              </div>
              <div *ngIf="!spinner_shipment">
                <div class="quotation">
                  <mat-radio-group class="radio-group">
                    <mat-radio-button class="card radio-button" style="padding: 10px; width: 50%;" *ngFor="let quotation of quotation_address" [value]="quotation">
                      <div (click)="setshipmentAddress(quotation)">
                        <span style="text-align: start;">
                            <img *ngIf="quotation.carrier == 'ESTAFETA'" src="https://upload.wikimedia.org/wikipedia/commons/7/7f/Logo_de_Estafeta.svg" alt="" height="25">
                            <img *ngIf="quotation.carrier == 'JTEXPRESS'" src="../../../../assets/shipment-icons/jtexpress.svg" alt="" height="30">
                            <img *ngIf="quotation.carrier == 'REDPACK'" src="../../../../assets/shipment-icons/redpack.svg" alt="" height="23">
                            <img *ngIf="quotation.carrier == 'PAQUETEXPRESS'" src="../../../../assets/shipment-icons/paquete-express-logo-1601057014.jpg" alt="" height="50">
                          <br>
                          Paquetería: {{quotation.carrier}}
                          <br>
                          Fecha de entrega: {{quotation.deliveryDays}} días
                          <br>
                          Precio de envío: ${{quotation.total}}
                        </span>
                      </div>
                    </mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>
            </div>
            <div *ngIf="spinner_shipment">
              <mat-spinner></mat-spinner>
            </div>
          </div>

          <div class="form-group" *ngIf="addAddressForm">
            <form [formGroup]="searchCPForm" (ngSubmit)="handlerOnAddAddress()" autocomplete="off">
              <div>
                <label for="">Nombre</label>
                <input placeholder="Escribe aquí..." type="text" formControlName="name" placeholder="Nombre completo">
              </div>
              <div>
                <label for="">Apellido</label>
                <input placeholder="Escribe aquí..." type="text" formControlName="last_name" placeholder="Nombre completo">
              </div>
              <div>
                <label for="">Numero de teléfono</label>
                <input placeholder="Escribe aquí..." type="text" formControlName="phone_number" placeholder="Número de teléfono">
              </div>
              <div>
                <label for="">Código postal</label>
                <input placeholder="Escribe aquí..." type="text" formControlName="cp" placeholder="Ingresa tu código postal">
              </div>
              <span (click)="hanlderOnSearchCp()">Buscar código postal</span>

              <div *ngIf="cpContainer?.estatus == 'si'">
                <div>
                  <h4>Fraccionamiento</h4>
                  <mat-form-field appearance="fill">
                    <mat-select>
                      <mat-option *ngFor="let fraccionamiento of cpContainer.data.asentamientos"
                        [value]="fraccionamiento.nombre" (click)="setCityToForm(fraccionamiento)">
                        {{fraccionamiento.nombre}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div>
                  <label for="">Estado</label>
                  <input placeholder="Escribe aquí..." type="text" formControlName="state" placeholder="Estado">
                </div>
                <div>
                  <label for="">Municipio</label>
                  <input placeholder="Escribe aquí..." type="text" formControlName="municipality" placeholder="Municipio">
                </div>
                <div>
                  <label for="">Ciudad</label>
                  <input placeholder="Escribe aquí..." type="text" formControlName="city" placeholder="Ciudad">
                </div>
                <div>
                  <label for="">Número exterior</label>
                  <input placeholder="Escribe aquí..." type="text" formControlName="exterior_house_number" placeholder="Ingresa tu # de casa">
                </div>
                <div>
                  <label for="">Número interior</label>
                  <input placeholder="Escribe aquí..." type="text" formControlName="interior_house_number" placeholder="Ingresa tu # interior">
                </div>
                <div>
                  <label for="">Calle</label>
                  <input placeholder="Escribe aquí..." type="text" formControlName="street" placeholder="Ingresa tu # interior">
                </div>
                <div>
                  <label for="">Entre calles</label>
                  <input placeholder="Escribe aquí..." type="text" formControlName="crossStreet" placeholder="Ingresa tu dirección">
                </div>
                <div>
                  <label for="">Referencias</label>
                  <input placeholder="Escribe aquí..." type="text" formControlName="reference" placeholder="Ingresa tu dirección">
                </div>
              </div>
              <button [disabled]="!searchCPForm.valid">Guardar</button>
            </form>
          </div>

          <form id={{FORM_ID}} method="GET"></form>

        </div>
        <div class="col" style="background-color:rgb(243, 243, 243); min-height: 100vh; position: sticky; position: -webkit-sticky; top: 0;">
          <table class="table">
            <thead>
              <tr>
                <th>Producto</th>
                <th>Descripción</th>
                <th>Precio</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of cart_container; let i = index">
                <td>{{product?.title}}</td>
                <td>{{product?.description}}</td>
                <td>{{product?.unit_price}}</td>
                <td><button class="btn btn-primary" (click)="DeleteProductCart(product)">Eliminar</button></td>
              </tr>
              <span>Costo de envío: <span style="font-weight: 600;">${{quotation_address_selected?.total}}</span></span>
              <br>
              <span>Costo Total: <span style="font-weight: 600;">${{productTotal}}</span></span>
            </tbody>
          </table>
          <div style="display: grid; place-items: center; width: 100%;">
            <button color="warn" mat-flat-button (click)="goToMercadoPago()" *ngIf="isFullShipment">Ir a pagar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="block-screen" *ngIf="spinner_shipment"></div> -->

<div class="checkout">
  <div class="checkout-left">
    <div class="checkout-products">
      <h2>Productos en tu carrito</h2>
      <div class="product-card" *ngFor="let product of cart_container; let i = index">
        <div class="product-image">
          <img src={{product.picture_url}} alt="Product Image">
        </div>
        <div class="product-info">
          <h3 class="title">{{product.title}}</h3>
          <p class="description">{{product.description}}</p>
        </div>
        <div class="product-price-quantity">
          <p class="precio">{{product.unit_price}}</p>
          <p>Cantidad: 1</p>
        </div>
      </div>
    </div>

    <div class="checkout-shipping">
      <h2>Dirección de envío</h2>
      <form [formGroup]="searchCPForm" (ngSubmit)="handlerOnAddAddress()">
        <div class="row">
          <div class="col">
            <label>Nombre:</label>
            <input formControlName="name" placeholder="Escribe aquí..." type="text">
          </div>
          <div class="col">
            <label>Apellido:</label>
            <input formControlName="last_name" placeholder="Escribe aquí..." type="text">
          </div>
          <div class="col">
            <label>Teléfono:</label>
            <input formControlName="phone_number" placeholder="Escribe aquí..." type="text">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label>Código postal:</label>
            <input formControlName="cp" placeholder="Escribe aquí..." type="text" (blur)="hanlderOnSearchCp()">
          </div>
          <div class="col">
            <label>Número exterior:</label>
            <input formControlName="exterior_house_number" placeholder="Escribe aquí..." type="text">
          </div>
          <div class="col">
            <label>Municipio:</label>
            <input formControlName="municipality" placeholder="Escribe aquí..." type="text">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label>Estado:</label>
            <input formControlName="state" placeholder="Escribe aquí..." type="text">
          </div>
          <div class="col">
            <label>Ciudad:</label>
            <input formControlName="city" placeholder="Escribe aquí..." type="text">
          </div>
          <div class="col">
            <label>Asentamiento:</label>
            <input formControlName="asentamiento" placeholder="Escribe aquí..." type="text">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label>Referencia:</label>
            <input formControlName="reference" placeholder="Escribe aquí..." type="text">
          </div>
          <div class="col">
            <label>Número interior:</label>
            <input formControlName="interior_house_number" placeholder="Escribe aquí..." type="text">
          </div>
          <div class="col">
            <label>Calle:</label>
            <input formControlName="street" placeholder="Escribe aquí..." type="text">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label>Calle cruzada:</label>
            <input formControlName="crossStreet" placeholder="Escribe aquí..." type="text">
          </div>
        </div>
        <button placeholder="Escribe aquí..." type="submit">Enviar</button>
      </form>
    </div>
    <mat-radio-group class="radio-group">
      <mat-radio-button class="card radio-button" style="padding: 10px;"
        *ngFor="let address of addressDirectionContainer" [value]="address">
        <div (click)="setAddress(address)">
          <span style="text-align: start;">
            <span style="font-size: 20px; font-weight: 500;"> C.P. {{address?.cp}}</span>
            <br>
            {{address?.street}} - {{address?.asentamiento}} - {{address?.city}} - {{address?.state}}
            <br>
            {{address?.name}} {{address?.last_name}} - {{address?.phone_number}}
            <br>
          </span>
        </div>
      </mat-radio-button>
    </mat-radio-group>
    <div>
      <div *ngIf="quotation_address">
        <div style="padding-top: 10px;">
          <span style="font-weight: 500; font-size: x-large;">Selecciona el envío que más se acomode a tus
            necesidades</span>
        </div>
        <div *ngIf="!spinner_shipment">
          <div class="quotation">
            <mat-radio-group class="radio-group">
              <mat-radio-button class="card radio-button" style="padding: 10px; width: 50%;"
                *ngFor="let quotation of quotation_address" [value]="quotation">
                <div (click)="setshipmentAddress(quotation)">
                  <span style="text-align: start;">
                    <img *ngIf="quotation.carrier == 'ESTAFETA'"
                      src="https://upload.wikimedia.org/wikipedia/commons/7/7f/Logo_de_Estafeta.svg" alt="" height="25">
                    <img *ngIf="quotation.carrier == 'JTEXPRESS'" src="../../../../assets/shipment-icons/jtexpress.svg"
                      alt="" height="30">
                    <img *ngIf="quotation.carrier == 'REDPACK'" src="../../../../assets/shipment-icons/redpack.svg"
                      alt="" height="23">
                    <img *ngIf="quotation.carrier == 'PAQUETEXPRESS'"
                      src="../../../../assets/shipment-icons/paquete-express-logo-1601057014.jpg" alt="" height="50">
                    <br>
                    Paquetería: {{quotation.carrier}}
                    <br>
                    Fecha de entrega: {{quotation.deliveryDays}} días
                    <br>
                    Precio de envío: ${{quotation.total}}
                  </span>
                </div>
              </mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </div>
      <div *ngIf="spinner_shipment">
        <mat-spinner></mat-spinner>
      </div>
    </div>
  </div>
  <div class="checkout-right">
    <div class="payment-details">
      <h2 class="payment-title">Detalles de pago</h2>
      <button (click)="goToMercadoPago()" *ngIf="isFullShipment">Ir a pagar</button>
      <form id={{FORM_ID}} method="GET"></form>
    </div>
  </div>
</div>
