.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #ffffff;
  color: black;
}

/* movil */
@media only screen and (max-width:959px) {
  .buttons {
    display: none
  }

  .logotoolbar {
    margin: 0 0 auto;
    height: 50%;
  }

  .retrocompu{
    height: 50%;
  }

  .name{
    margin-left: 2%;
  }

  .content * {
    display: block;
    height: 100%;

  }

  .sidebtns {
    align-self: center;
    width: 50%;
    display: block;
    padding: 25%;
    margin-top: 0%;
  }

  .btn {

    margin-top: 2%;
  }

}


/* escritorio */
@media only screen and (min-width:1000px) {

  /* .spacer {
    margin-right: auto;
  } */

  .button{
    margin-left: 2px;
    margin-right: 2px;
  }

  .buttons{
    margin-left: auto;
  }

  .retrocompu {
    height: 50%;
    margin: 0.5%;
  }

}

.mat-progress-bar-fill::after{
  background-color: brown;
}

.nav-header-username-chevron{
  padding-top: 10px;
  border-style: solid;
  border-width: 0 1.5px 1.5px 0;
  content: "";
  display: inline-block;
  height: 6px;
  position: relative;
  transform: rotate(45deg);
  width: 6px;
  color: rgba(0, 0, 0, .3);
  margin: 16px 0 0 6px;
  vertical-align: top;
}
